@{
    ViewData["Title"] = "Internal Server Error";
    Layout = "_SimpleLayout";
}

<h1>Internal Server Error</h1>
<p>Now, you get run-time error on server.</p>
<p>Please contact IT Department for more information!</p>
<div class="link-container">
    <a href="/">Click here to landing page</a>
</div>