@{
    ViewData["Title"] = "Undocumented";
    Layout = "_SimpleLayout";
}

<h1>Undocumented</h1>
<p>This kind of error is unknown.</p>
<p>Please contact IT Department for more information!</p>
<div class="link-container">
    <a href="/">Click here to landing page</a>
</div>